@font-face {
    font-family: "Mystery";  /* You can name it anything you want */
    src: url("Mystery_Quest/MysteryQuest-Regular.ttf") format("truetype");
    /* Add other formats if available, the above is just an example */
}

/* Global styles */
body {
    margin: 0;
    font-family: "Mystery", fallback, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
    background-color: #333;
}


/* Button styles */
#speakButton {
    background-color: #4CAF50; /* Green color */
    border: none;
    color: rgb(1, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 50%; /* To make it circular */
    width: 100px;
    height: 100px;
    line-height: 80px; /* Vertical centering */
    position: absolute;
    bottom: 10px; /* Distance from the bottom of the viewport */
    left: 10%; /* Center the button horizontally */
    transform: translateX(-50%); /* Shifts the button half its width to the left for perfect centering */
    z-index: 1000; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Adds a shadow */
    font-family: "Mystery", fallback, sans-serif;


    /* Adding a transition for smooth effects */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Hover effect */
#speakButton:hover {
    background-color: #45a049; /* Slightly darker green on hover */
    transform: translateX(-50%) scale(1.1); /* Scales the button up a bit */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Adds a shadow */
}

/* Active (clicked) effect */
#speakButton:active {
    background-color: #0a2f0a; /* Deep green when clicked */
}


#messageOverlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 9999; /* ensure it appears on top */
    /* Add any Halloween font styles here */
    font-family: "Mystery", fallback, sans-serif;

}

#messageListening {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 9999; /* ensure it appears on top */
    /* Add any Halloween font styles here */
    font-family: "Mystery", fallback, sans-serif;
    
}

#playButton {
    background-color: #4CAF50; /* Green color */
    border: none;
    color: rgb(1, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 50%; /* To make it circular */
    width: 100px;
    height: 100px;
    line-height: 80px; /* Vertical centering */
    position: absolute;
    bottom: 10px; /* Distance from the bottom of the viewport */
    right: 10%; /* Position the button horizontally on the right side */
    transform: translateX(50%); /* Shifts the button half its width to the right for perfect centering */
    z-index: 1000; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Adds a shadow */
    font-family: "Mystery", fallback, sans-serif;

    /* Adding a transition for smooth effects */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#playButton:hover {
    background-color: #45a049; /* Slightly darker green on hover */
    transform: translateX(50%) scale(1.1); /* Scales the button up a bit */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Adds a shadow */
}

#playButton:active {
    background-color: #0a2f0a; /* Deep green when clicked */
}